<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<center>
			<h2>Welcome, please login below.</h2> 
				{% set messages = get_flashed_messages() %}
					{% for item in messages %}
						<b>
							<h4>
     							{{item}}
							</h4>
						</b>						
					{% endfor %}
			<br>
			<form action = "/login">
				Username: <input type = "text" name = "user">
				<br>
				Password: <input type = "password" name = "passo">
				<br><br>
				<input type = "submit" value = "Submit">
			</form>
		</center> 
	</body>
</html>
